*{
    margin: 0;
    padding: 0;
}

.head{
    background-color: green;
    margin: 30px;
    padding: 20px;
}

.cabeza{
    background-color: red;
    margin: 30px;
    padding:20px;

}

#titulo_1{
    background-color: violet;
    text-align: center;
}



.general{
    background-color: blue;
    margin: 30px;
    padding: 30px;


}

.parrafo_general{
    padding: 20px;
}

.dividido{
    display: flex;
    gap: 30px;
}

.cuerpo_izq{
    background-color: yellow;
    padding: 20px;
    width: 300px;
    
}



.cuerpo_der{
    background-color: greenyellow;
    padding: 20px;
    width: 600px;
}

.general div img{
    margin-top: 10px;
    margin-bottom: 10px;
}

#imagen_izq{
    display: block;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

#imagen_der{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
}

.parrafo_general{
    background-color: burlywood;
    
}

.parrafo{
    background-color: cadetblue;
    margin-bottom: 10px;
}




.pie{
    background-color: aqua;
    margin: 30px;
    padding: 20px;
    display: flex;
    gap: 30px;
}

.pie1{
    background-color: chocolate;
}


.pie2{
    background-color: blueviolet;
}

.titulos_pie{
    text-align: center;
    margin: 20px;
}

.parrafos_pie{
    text-align: left;
    
}
