*{
    margin: 0;
    padding: 0;
}

.head{
    background-color: green;
    margin: 30px;
    padding: 20px;
}

.cabeza{
    background-color: red;
    margin: 30px;
    padding:20px;

}

#titulo_1{
    background-color: violet;
    text-align: center;
}



.general{
    background-color: blue;
    margin: 30px;
    padding: 30px;
    display: flex;
    gap: 30px;

}

.cuerpo_izq{
    background-color: yellow;
    padding: 20px;
    width: 300px;
    
}



.cuerpo_der{
    background-color: greenyellow;
    padding: 20px;
    width: 600px;
}

.general div img{
    margin-top: 10px;
    margin-bottom: 10px;
}

#imagen_izq{
    display: block;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

#imagen_der{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
}




